@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@100;300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgb(8, 7, 51);
    border-radius: 12px;

}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgb(17, 48, 88);
    border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(102, 100, 136);
}

.typing-loader {
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
  }
  
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3498db;
    animation: typing 1.4s infinite ease-in-out both;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.32s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.16s;
  }
  
  @keyframes typing {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

